@use "@/app/(client)/scss/abstracts" as *;

#Workflow,
#Ask {
  @include full_width;
  padding-block: rem(80);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  color: $c_primary;

  @include breakpoint(large) {
    padding-block: rem(100);
    flex-direction: row-reverse;
    gap: rem(100);
  }

  .left {
    width: 100%;
    padding-bottom: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(large) {
      padding: rem(0);
    }
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    h2 {
      @include rische;
      font-size: rem(60);

      @include breakpoint(large) {
        font-size: rem(80);
        margin-bottom: rem(40);
      }
    }

    #Accordian {
      font-family: $f_helvetica;
      font-weight: 100;

      .desc {
        font-family: $f_geist_sans;
        font-weight: 400;
      }
    }
  }
}

#Ask {
  @include breakpoint(large) {
    flex-direction: row;
  }
}
