@use "@/app/(client)/scss/abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $f_helvetica;
  background-color: $c_text_secondary;
  color: $c_text_primary;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: inherit;
}

p {
  text-wrap: auto;
  text-wrap: pretty;
}

h1 {
  @include rische;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

ul,
ol {
  list-style: none;
}

select,
input,
textarea {
  font-family: inherit;
}

#blank,
.blank {
  @include full_height;
  background-color: $c_text_primary;
}

button {
  cursor: pointer;
}

.dynamic__loading {
  margin-block: rem(20);
  font-family: $f_geist_mono;
  letter-spacing: rem(-0.15);
  @include full_padding_x;
}
