@use "@/app/(client)/scss/abstracts" as *;

#Projects {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  color: $c_primary;

  @include breakpoint(medium) {
    padding-block: rem(50);
  }

  @include breakpoint(large) {
    padding-block: rem(100);
    flex-direction: row;
    @include full_padding_x;
    gap: rem(100);
  }

  .left {
    width: 100%;
    @include full_padding_x;
    padding-block: rem(20);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(large) {
      padding: rem(0);
    }
  }

  .right {
    @include full_width;
    display: flex;
    flex-direction: column;
    padding-bottom: rem(40);

    @include breakpoint(large) {
      padding: 0;
    }

    h2 {
      @include rische;
      font-size: rem(60);
      margin-bottom: rem(20);

      @include breakpoint(large) {
        font-size: rem(80);
        margin-bottom: rem(40);
      }
    }

    .link {
      @include breakpoint(large) {
        position: relative;
        transition: color 200ms $e_quart, padding-inline 400ms $e_quart 50ms;

        .block {
          background-color: $c_primary !important;
        }

        &:hover {
          color: $c_text_secondary;
          padding-inline: rem(20);

          a {
            .title {
              p {
                color: $c_secondary;
              }
            }
          }

          .block {
            background-color: $c_text_secondary !important;
          }

          .hover_bg {
            transition: height 400ms $e_quart;
            height: 100%;
          }
        }
      }

      .hover_bg {
        background-color: $c_primary;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        z-index: 1;
        transition: height 150ms $e_quart;
      }
    }

    a {
      display: flex;
      gap: rem(10);
      padding-block: rem(20);

      @include breakpoint(large) {
        position: relative;
        z-index: 2;
        padding-block: rem(25);
      }

      .i {
        padding-top: rem(4);
        font-family: $f_geist_mono;
        font-size: rem(12);
      }

      .title {
        display: flex;
        flex-direction: column;
        gap: rem(2);

        h3 {
          font-family: $f_helvetica_light;
          font-weight: 100;
          font-size: rem(30);
        }

        p {
          font-family: $f_geist_mono;
          font-size: rem(12);
          color: $c_text_primary;

          transition: color 400ms $e_quart;
        }
      }

      .svg {
        margin-left: auto;
        align-self: center;
      }
    }
  }
}
