@use "@/app/(client)/scss/abstracts" as *;

#Hero {
  width: 100vw;
  max-width: 100%;
  height: 200vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: clip;

  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .bg_container {
      position: absolute;
      inset: 0;
      width: 100%;
      z-index: 1;
      background-color: $c_text_secondary;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
        z-index: 1;
        mix-blend-mode: exclusion;
        filter: brightness(1.5) contrast(1.25);

        @include breakpoint(large) {
          object-position: 50% 45%;
        }
      }

      .seamless {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        background: -webkit-linear-gradient(transparent, $c_text_primary);
        background: -moz-linear-gradient(transparent, $c_text_primary);
        background: -ms-linear-gradient(transparent, $c_text_primary);
        background: -o-linear-gradient(transparent, $c_text_primary);
        background: linear-gradient(
          to top,
          $c_text_primary 15%,
          transparent 100%
        );
        z-index: 2;
      }
    }

    .hero_content {
      position: relative;
      z-index: 2;
      color: $c_text_primary;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
      overflow-y: clip;

      h1 {
        position: relative;
        width: min-content;
        text-align: center;
        font-size: rem(80);
        line-height: rem(70);
        z-index: 10;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transform: translateY(0) !important;

        @include breakpoint(medium) {
          font-size: rem(150);
          line-height: rem(120);
        }

        @include breakpoint(large) {
          font-size: rem(200);
          line-height: rem(160);
          top: rem(100);
        }

        @include breakpoint(xxlarge) {
          font-size: rem(300);
          line-height: rem(220);
        }
      }

      .window {
        width: 90%;
        height: 60%;
        background-color: $c_secondary;
        border-top-left-radius: 500px;
        border-top-right-radius: 500px;
        transform-origin: bottom;
        position: relative;
        z-index: 1;

        @include breakpoint(medium) {
          width: 60%;
        }

        @include breakpoint(large) {
          width: 30%;
          height: 70%;
        }
      }
    }
  }

  h2 {
    position: absolute;
    z-index: 3;
    color: $c_text_secondary;
    background-color: $c_text_primary;
    padding: rem(5) rem(10);
    bottom: 52%;
    font-family: $f_helvetica-light;
    font-weight: 100;
    text-transform: uppercase;
    font-size: rem(20);
    //mix-blend-mode: exclusion;

    @include breakpoint(medium) {
      font-size: rem(25);
    }

    @include breakpoint(xxlarge) {
      font-size: rem(60);
    }
  }

  .sahil_img {
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
    transform-origin: bottom;

    img {
      position: absolute;
      bottom: 0;
      height: 60%;

      @include breakpoint(medium) {
        left: 50%;
        transform: translateX(-50%);
      }

      @include breakpoint(large) {
        height: 75%;
      }

      @include breakpoint(xxlarge) {
        height: 60%;
      }
    }
  }

  .bottom {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: rem(20);
    flex-direction: column;
    align-items: center;
    background-color: $c_text_secondary;

    position: relative;
    z-index: 1;
    padding-inline: 6vw;
    padding-top: rem(240);
    overflow-y: hidden;

    @include breakpoint(medium) {
      padding-top: rem(450);
    }

    @include breakpoint(large) {
      padding-top: rem(400);
      padding-inline: 10vw;
    }

    @include breakpoint(xxlarge) {
      padding-top: rem(600);
      padding-inline: 16vw;
    }

    .bg {
      position: absolute;
      top: 0;
      width: 90%;
      height: 100%;
      background-color: $c_secondary;
    }

    p {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      column-gap: rem(4);
      font-family: $f_helvetica-medium;
      text-transform: uppercase;
      width: 25ch;
      font-weight: 100;
      align-self: flex-start;
      font-size: rem(14);

      @include breakpoint(medium) {
        font-size: rem(24);
        column-gap: rem(6);
      }

      @include breakpoint(large) {
        font-size: rem(20);
        column-gap: rem(8);
      }

      @include breakpoint(xxlarge) {
        font-size: rem(40);
        column-gap: rem(10);
      }
    }

    .text_one {
      width: fit-content;
      align-self: flex-start;
    }

    .text_two {
      width: fit-content;
      align-self: flex-end;

      p {
        width: 28ch;
      }
    }

    h3 {
      z-index: 2;
    }
  }
}
